# Variables d'environnement (Contient votre clé API)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dépendances (Dossier très lourd, ne pas envoyer sur le cloud)
node_modules/

# Dossier de production
dist/
build/

# Fichiers système
.DS_Store
Thumbs.db